@import "../settings/fonts";
@import "../settings/mixins";
@import "../settings/colors";

.mapExp {

  .wrapper {
    margin-top: 8px;
  }

  &__container {
    width: 20%;
    background-color: black;

    &__list {
      padding: 10px;
    }

    .list__item {

      .list__link {
        display: block;
        padding: 14px 20px;
        transition: 1s;
        font-size: 1rem;
      }

      .list__link:hover {
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 8px;
        box-shadow: 10px 5px 5px $color-main;
      }

      a {
        text-decoration: none;
        color: silver;
        font-size: 20px;
      }
    }

    &__secList {

    }

    &__row {

    }

    &__link {
      font-size: 18px;
      padding: 14px 35px;
      transition: 1s;
      background-color: black;
      color: silver;
      margin: 3px;
    }

    &__link:hover {
      padding-left: 25px;
      padding-right: 25px;
      border-radius: 8px;
      box-shadow: 10px 5px 5px $color-main;
    }
  }

  &__containerSec {
    width: 80%;
  }

  .btn__link {
    color: silver;
    background-color: black;
    font-size: 20px;
  }

  .menu-primary-appear {
    opacity: 0;
    z-index: 1;
  }

  .menu-primary-appear.menu-primary-appear-active {
    opacity: 1;
    transition: opacity 1000ms linear;
  }

  .menu-primary-enter {
    opacity: 0;
    z-index: 1;
  }

  .menu-primary-enter.menu-primary-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear;
  }

  .firstExample {

    .wrapper {
      width: 80%;
    }
  }
}
